<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
    <link rel="icon" href="pet_paw.png">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>

    <title>Pet Shop</title>
</head>
<body class="light-blue lighten-4">
    <nav>
        <div class="nav-wrapper light-blue">
          <a href="#" class="brand-logo light-blue" style="padding-left:100px;font-weight:bold;"><i class="material-icons left">pets</i>Pet Shop</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down light-blue">
            <li><a href="/clientes"><i class="material-icons left">format_list_bulleted</i>Clientes</a></li>
            <li><a href="/funcionarios"><i class="material-icons left">face</i>Funcionários</a></li>
            <li><a href="/servicos"><i class="material-icons left">check_circle</i>Serviços</a></li>
          </ul>
        </div>
        <p style="font-size: 60px;font-weight: bold;text-align: center;padding-top: 100px;" class="black-text">Bem-vindo(a) ao app Pet Shop! Clique em uma das abas para continuar.</p>
        <img src="https://i.ibb.co/Qv8gT56/pet.png" style="display: block;margin-left: auto;margin-right: auto;width: 50%;">
    </nav>