<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
    <link rel="icon" href="pet_paw.png">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
    <style>
        ::placeholder{
            color: grey;
        }
    </style>
    <title>Pet Shop</title>
</head>
<body class="light-blue lighten-4">
    <nav>
        <div class="nav-wrapper light-blue">
          <a href="#" class="brand-logo light-blue" style="padding-left:100px;font-weight:bold;"><i class="material-icons left">pets</i>Serviços - Cliente</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down light-blue">
            <li><a href="/clientes"><i class="material-icons left">format_list_bulleted</i>Clientes</a></li>
            <li><a href="/funcionarios"><i class="material-icons left">face</i>Funcionários</a></li>
            <li><a href="/servicos"><i class="material-icons left">check_circle</i>Serviços</a></li>
          </ul>
        </div>
    </nav>
    <h3 style="text-align: center;"><a class="waves-effect waves-light btn light-blue accent-3" href="/clientes"><i class="material-icons left">format_list_bulleted</i>Lista de Clientes</a></h3>
    <form class="container" method="post">
        <div class="row">
            <div class="input-field col s4">
                Data: <input type="date" value="" name="data"/>
            </div>
            <div class="input-field col s4">
                Horário: <input type="time" value="" name="horario"/>
            </div>
            <div class="input-field col s4">
                Tipo: <input type="text" value="" name="tipo">
            </div>
        </div>
        
        <button class="waves-effect waves-light btn light-blue accent-3" type="submit">Confirmar Serviço</button>
    </form>
    <div th:each="cliente : ${cliente}" class="container">
        <h5 style="text-align: center;">Serviço contratado pelo(a) cliente <span th:text="${cliente.nome}"></span> - CPF: <span th:text="${cliente.cpf}"></span></h5>        
    </div>
    
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>